@use 'settings'as *;

// Mixins
// =========================================================================

// Centering
@mixin centerer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// Hover, active and focus status
@mixin hocus {

    &:hover,
    &:active,
    &:focus {
        @content;
    }
}